* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: beige;
    font-family: cursive;
}

nav,
main {
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: inherit;
    transition: 0.15s;
}

nav a:hover {
    text-decoration: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 3px;
}

h1,
p {
    text-align: center;
}

.sign-out {
    background-color: beige;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.15s;
}

.sign-out:hover {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.a-btn {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: lightgray;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 5px;
}